:root {
    --primary-text-color:#757575;
    --title-text-color: #212121;
    --accent-color:#2196F3;
    --logo-color:#000000;
    --white-color:#FFFFFF;
    --adress-color:#FFFFFF99;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: var(--title-text-color);
    }
h1, h2, h3 {
    color: var(--title-text-color);
    }
h3 {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    }
p {
    color: var(--primary-text-color);
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 24px;
    }

/* style logo header and footer*/
.logo {
    color:var(--accent-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    letter-spacing: 0.03em;
}
.logo-start {
    color:var(--logo-color);
}
.logo-end {
    color: var(--white-color);
}

/* general style ul */
ul {
    list-style: none;
}

 /* general style nav header*/

.site-nav .link {
    color: var(--title-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}
.site-nav .link.current {
    color: var(--accent-color);
} 
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

/* general style contact header*/

.site-contact .info {
    color: var(--title-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}
.site-contact .info:hover,
.site-contact .info:focus {
    color: var(--accent-color);
}

/* style index.html*/

/* style heroy*/
.heroy {
    background-color: #2F303A;
}

.slogan {
    color: var(--white-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
 button {
    background-color: var(--accent-color);
    color: var(--white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
 }
button:hover,
button:active {
    background-color: var(--white-color);
    color: var(--accent-color);
    cursor: pointer;
}
/* style skills*/

/* style activity*/




/* style our-team*/

.our-team {
    background-color:#F5F4FA;
}

.card {
    background-color: var(--white-color);
    width: 270px;
    height: 368px
}

/* style footer */

.footer {
    background-color: #2F303A;
}

.site-address {
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em 
}
.site-address:hover, 
.site-address:focus {
    color: #2196F3;
}

.site-footer .info {
    color:#FFFFFF99;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;

}  
 
.info:hover, 
.info:focus {
    color: #2196F3;
}


/* style portfolio */
/* style filter */
 .filter-list button {
    color: #212121;
    background-color:#F5F4FA;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    
    
 }

.filter-list button:hover,
.filter-list button:focus {
    color:#FFFFFF;
    background-color: #2196F3;
    cursor: pointer;
}

/* style work */

.work-link .container {
    background-color: var(--white-color);
    width: 370px;
    height: 405px;
}
